// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');
// Variables
@import 'variables';
$text-color: #212121;
$light-gray-background: #F5F5F5;
$gray-background: #535353;
$separator-color: #CDCDCD;
$gutter: 30px;
// Bootstrap
@import '~bootstrap/scss/bootstrap';
.navbar-laravel {
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
}

html {
    box-sizing: border-box;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

body {
    font-family: 'Roboto', Arial, sans-serif;
    font-size: 18px;
    font-weight: 300;
    line-height: 1.6;
}

a {
    text-decoration: none;
    color: $text-color;
    &:visited {
        color: $text-color;
    }
}

h1,
h2 {
    font-family: 'Montserrat', Arial, Helvetica, sans-serif;
    font-weight: bold;
}

h1 {
    font-size: 38px;
    margin-bottom: 40px;
}

h2 {
    font-size: 22px;
    margin-bottom: 10px;
}

img {
    max-width: 100%;
}

.text-center {
    text-align: center;
}

.container {
    max-width: 1200px;
    margin: auto;
}